<h1 class="bg-info p-4 text-white text-center">
    {{title}}
</h1>


<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Fname</th>
                        <th>Lname</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let u of users, let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{u.fname}}</td>
                        <td>{{u.lname}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.contact}}</td>
                        <td class="text-center">
                            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                        <td class="text-center">
                            <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Year</th>
                        <th>Price</th>
                        <th>FuelType</th>
                        <th>Color</th>
                        <th>Mileage</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of carB, let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{c.brand}}</td>
                        <td>{{c.model}}</td>
                        <td>{{c.year}}</td>
                        <td>{{c.price}}</td>
                        <td>{{c.fuelType}}</td>
                        <td>{{c.color}}</td>
                        <td>{{c.mileage}}</td>
                        <td class="text-center">
                            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                        <td class="text-center">
                            <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Year</th>
                        <th>Price</th>
                        <th>FuelType</th>
                        <th>Color</th>
                        <th>Mileage</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of bikeO, let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{c.brand}}</td>
                        <td>{{c.model}}</td>
                        <td>{{c.year}}</td>
                        <td>{{c.price}}</td>
                        <td>{{c.fuelType}}</td>
                        <td>{{c.color}}</td>
                        <td>{{c.mileage}}</td>
                        <td class="text-center">
                            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                        <td class="text-center">
                            <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Price</th>
                        <th>Ram</th>
                        <th>Storage</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let m of mobiles, let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{m.brand}}</td>
                        <td>{{m.model}}</td>
                        <td>{{m.price}}</td>
                        <td>{{m.ram}}</td>
                        <td>{{m.storage}}</td>
                        <td class="text-center">
                            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                        <td class="text-center">
                            <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Price</th>
                        <th>Ram</th>
                        <th>Storage</th>
                        <th>Processor</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let l of laptops, let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{l.brand}}</td>
                        <td>{{l.model}}</td>
                        <td>{{l.price}}</td>
                        <td>{{l.ram}}</td>
                        <td>{{l.storage}}</td>
                        <td>{{l.processor}}</td>
                        <td class="text-center">
                            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                        <td class="text-center">
                            <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Price</th>
                        <th>Language</th>
                        <th>published Year</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let b of books, let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{b.title}}</td>
                        <td>{{b.author}}</td>
                        <td>{{b.price}}</td>
                        <td>{{b.language}}</td>
                        <td>{{b.publishedYear}}</td>
                        <td class="text-center">
                            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                        <td class="text-center">
                            <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Title</th>
                        <th>Director</th>
                        <th>Genre</th>
                        <th>Realese Year</th>
                        <th>Rating</th>
                        <th>Language</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let m of movies, let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{m.title}}</td>
                        <td>{{m.director}}</td>
                        <td>{{m.genre}}</td>
                        <td>{{m.releaseYear}}</td>
                        <td>{{m.rating}}</td>
                        <td>{{m.language}}</td>
                        <td class="text-center">
                            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                        <td class="text-center">
                            <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Title</th>
                        <th>Genre</th>
                        <th>Platform</th>
                        <th>Realese Year</th>
                        <th>Rating</th>
                        <th>Developer</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let g of games, let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{g.title}}</td>
                        <td>{{g.genre}}</td>
                        <td>{{g.platform}}</td>
                        <td>{{g.releaseYear}}</td>
                        <td>{{g.rating}}</td>
                        <td>{{g.developer}}</td>
                        <td class="text-center">
                            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                        <td class="text-center">
                            <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Screen Size</th>
                        <th>Display Type</th>
                        <th>Resolution</th>
                        <th>Price</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let t of tvBrands, let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{t.brand}}</td>
                        <td>{{t.model}}</td>
                        <td>{{t.screenSize}}</td>
                        <td>{{t.displayType}}</td>
                        <td>{{t.resolution}}</td>
                        <td>{{t.price}}</td>
                        <td class="text-cetner">
                            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                        <td class="text-cetner">
                            <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Type</th>
                        <th>Display</th>
                        <th>Price</th>
                        <th>Water Resistance</th>
                        <th>Edit</th>
                        <th>Remove</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let w of watches, let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{w.brand}}</td>
                        <td>{{w.model}}</td>
                        <td>{{w.type}}</td>
                        <td>{{w.display}}</td>
                        <td>{{w.price}}</td>
                        <td>{{w.waterResistance}}</td>
                        <td class="text-center">
                            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                        <td class="text-center">
                            <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Brand</th>
                        <th>Plan Name</th>
                        <th>Price</th>
                        <th>Validity</th>
                        <th>Data</th>
                        <th>Calls</th>
                        <th>SMS</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of simCards, let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{s.brand}}</td>
                        <td>{{s.planName}}</td>
                        <td>{{s.price}}</td>
                        <td>{{s.validity}}</td>
                        <td>{{s.data}}</td>
                        <td>{{s.calls}}</td>
                        <td>{{s.sms}}</td>
                        <td class="text-center">
                            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                        <td class="text-center">
                            <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Name</th>
                        <th>Color</th>
                        <th>Price PerKg</th>
                        <th>Season</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let f of fruit, let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{f.name}}</td>
                        <td>{{f.color}}</td>
                        <td>{{f.pricePerKg}}</td>
                        <td>{{f.season}}</td>
                        <td class="text-cetner">
                            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                        <td class="text-cetner">
                            <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Name</th>
                        <th>Color</th>
                        <th>Price PerKg</th>
                        <th>Season</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let v of vegetables, let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{v.name}}</td>
                        <td>{{v.color}}</td>
                        <td>{{v.pricePerKg}}</td>
                        <td>{{v.season}}</td>
                        <td class="text-cetner">
                            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                        <td class="text-cetner">
                            <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let g of grocery, let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{g.name}}</td>
                        <td>{{g.category}}</td>
                        <td>{{g.quantity}}</td>
                        <td>{{g.price}}</td>
                        <td class="text-cetner">
                            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                        <td class="text-cetner">
                            <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<h1 class="bg-primary p-4 text-white text-center">
    {{list}}
</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="list-group mb-4">
                <li *ngFor="let s of skills" class="list-group-item">
                    {{s}}
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ul class="list-group mb-4">
                <li *ngFor="let p of programmingLanguages" class="list-group-item">
                    {{p}}
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ul class="list-group mb-4">
                <li *ngFor="let t of tools" class="list-group-item">
                    {{t}}
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ul class="list-group mb-4">
                <li *ngFor="let S of softSkills" class="list-group-item">
                    {{S}}
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ul class="list-group mb-4">
                <li *ngFor="let f of fruits" class="list-group-item">
                    {{f}}
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ul class="list-group mb-4">
                <li *ngFor="let c of cars" class="list-group-item">
                    {{c}}
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ul class="list-group mb-4">
                <li *ngFor="let b of bikes" class="list-group-item">
                    {{b}}
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ul class="list-group mb-4">
                <li *ngFor="let Pb of popularBikes" class="list-group-item">
                    {{Pb}}
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ul class="list-group mb-4">
                <li *ngFor="let B of brands" class="list-group-item">
                    {{B}}
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ul class="list-group mb-4">
                <li *ngFor="let cb of carBrands" class="list-group-item">
                    {{cb}}
                </li>
            </ul>
        </div>
    </div>

</div>